<div class="row">
  <form [formGroup]="settingForm" (ngSubmit)="onUpdate()">
    <div class="row padding-line">
        <label class='col-xs-6 ' for="key"><h4>Add new Key pair</h4></label>
        <div class=" col-xs-6" align=right>
            <span *ngIf='!editMode' >
                <a class="btn btn-primary">Add</a>
                <a class="btn btn-danger">Cancle</a>
            </span>
        </div>
    </div>
    <br>
    <div class="form-group ">
      <div class="col-xs-2">
          <label for="key">Key:</label>
      </div>
      <div class="col-xs-10">
          <input (keydown.enter)='onAdd()' (keydown.esc)='onCancle()' autocomplete="off" placeholder="Key" type="text" class="form-control" id="key" formControlName="key">
      </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-xs-2">
            <label for="value">Value: </label>
        </div>
        <div class="col-xs-10">
            <input (keydown.enter)='onAdd()' (keydown.esc)='onCancle()' autocomplete="off" placeholder="Value" type="text" class="form-control" id="value" formControlName="value">
        </div>
    </div>

  </form>
</div>
