.bottom-line {
    border-bottom: 1px solid lightgray;
}

.padding-bottom {
    padding-bottom: 15px;
}

.block {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

.transition {
    transition: .3s ease-in;   
}

.popup-background {
    position:fixed;
    z-index: 1040;
    top:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.7);
    transition: .2s ease-in;
}

.popup {
    /* transform: scale(0); */
    position: fixed;
    width: 340px;
    height: 320px;
    padding: 35px 0;
    border-radius: 5px;
    background-color: rgb(240, 255, 255); 
    border: 1px solid lightcyan;
    margin:auto;
    z-index: 1040;
    top: 0; left: 0; bottom: 0; right: 0;
    /* animation: .3s .2s ease-in forwards pop-up; */
    
}

.add-button-group {
    position: fixed;
    width: 100px;
    height: 50px;
    /* border-radius: 5px; */
    /* background-color: rgb(240, 255, 255);  */
    border: 1px solid black;
    margin:auto;
    z-index: 1040;
    bottom: 50px; right: 50px;
}

.btn-round {
    border-radius: 50%;
    background-color: #66afe9; 
    height: 50px;
    width: 50px;
    padding: 10px;
}

.plus-bar {
    position: absolute;
    background-color: white;
    height: 30px;
    width: 2px;
}

.plus-bar-hor {
    margin-left: 14px;
    transform: rotate(90deg);
}

.plus-bar-ver {
    margin-left: 14px;
}

@media screen and (max-width: 700px) {
    .edit-icon-hidden {
        display: none;
    }
    
    .edit-icon:hover > .edit-icon-hidden, 
    .edit-icon:active > .edit-icon-hidden  {
        display: none;
    }
  }