<div class="col-md-6">
  <div *ngIf='!editMode' class="div">
      <div class="col-md-2" align=right>
          <h4>{{ key }}<span> - </span></h4>
      </div>
      <div class="col-md-2">
        <h4>{{ value }}</h4>
      </div>
  </div>
  <form *ngIf='editMode' [formGroup]="settingForm" (ngSubmit)="onUpdate()">
      <div class="col-md-2 form-group">
          <input type="text" class="form-control" id="key" formControlName="key">
        </div>
        <div class="col-md-2 form-group">
          <input type="text" class="form-control" id="value" formControlName="value">
        </div>
  </form>
  <div class="col-md-2">
    <span *ngIf='!editMode'>
        <a (click)='onEdit()'  style="cursor:pointer;"><span title='Edit' class="glyphicon glyphicon-pencil"></span></a>
        <a (click)='onRemove()' style="cursor:pointer;"><span title='Delete' class="glyphicon glyphicon-remove"></span></a>
    </span>
    <span *ngIf='editMode'>
        <a (click)='onUpdate()'  style="cursor:pointer;"><span title='Edit' class="glyphicon glyphicon-ok"></span></a>
        <a (click)='onCancle()' style="cursor:pointer;"><span title='Delete' class="glyphicon glyphicon-remove"></span></a>
    </span>
  </div>
</div>

