:host {
  margin-top: -50px; 
  display: block;
}

section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.home-nav-item a:hover::before, .home-nav-item .nav-item-selected a::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #00a1d6;
    left: -3px;
    top:-1px;
}

.nav-item-selected a::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #00a1d6;
    left: -3px;
    top:-1px;transition: all 0.5s ease-out;
}

.affix {
    top: 70x;
    width: 100%;
  }
  
  .affix-top {
    top: 70x;
    width: 100%;
  }
  
  .affix-bottom {
    position: absolute;
    width: 100%;  
  }

  .intro {
    display: flex;
    height: 100vh;
    /* padding-top: 10rem; */
    /* padding-bottom: calc(10rem - 56px); */
    background-image: url("../../../assets/home/intro-background.png");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* filter: blur(3px);
    -webkit-filter: blur(3px); */
  }


.white-text {
  color: white;
}

.mg-auto {
  margin: auto !important;
}

.mh-auto {
  margin-left: auto !important;
  margin-right: auto! important;
}

.text-center {
  text-align: center;
}

hr {
  padding-bottom:2rem;
  max-width: 50px;
  border-width: 5px;
  border-color: #00a1d6;
}

.btn {
  margin-top: 3rem!important;
  font-weight: 700;
  text-transform: uppercase;
  border: none; 
  border-radius: 300px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
  transition:  .3s;
  background-color: #00a1d6;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.btn-xl:hover {
  background-color: #0072a7;
}

.btn-xl:active, .btn-xl:focus{
  box-shadow:0 0 0 .2rem rgba(0, 161, 214, .7);
}

#services {
  padding-bottom: 2rem;
}

#services p {
  margin-bottom: 5rem !important;
}

a.btn:hover {
  background-color: rgba(0, 161, 214, 1);
}

.service-img {
  max-width: 80%;
}

.glyphicon-xl {
  transition:color .2s ease;
  font-size: 4rem;
  color: rgba(0, 161, 214, .8);
}

.glyphicon-xl:hover {
  color: rgb(0, 161, 214);
}

.glyphicon-xl:active {
  color: rgba(0, 161, 214, .6);
}


.move-alt {
  animation: back-forth 1s infinite ease-in-out;
}

#solution {
  padding-bottom: 0 !important;
}

.solution-img {
  max-width: 80%;
  height: auto;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.portfolio-box {
  position: relative;
  display: block;
  width: 100%;
  min-height: 250px;
  max-width: 650px;
  max-height: 350px;
  margin: 0 auto;
  transition: min-height .5s;
}

.portfolio-box-shrink  {
  min-height: 50px;
  transition:  min-height .5s;
  box-shadow: 0 2px 2px #777;
}

.background-cover {
  background-size: cover;   
  -webkit-background-size: cover;   
  -moz-background-size: cover;   
  -o-background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #00a1d6;
}

.overlay:hover,
.overlay-hovered {
  opacity: 0.8;
}

.overlay-caption {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  opacity: 0;
}

.overlay:hover .overlay-caption,
.overlay-hovered .overlay-caption {
  opacity: 1;
  transform: translateY(-50%);
  transition: .3s ease-out;
}

#solution-content {
  height: 0;
  transition: height .5s;
  overflow: scroll;
}

.solution-content-extended {
  height: calc(100vh - 70px) !important;
  transition: height .5s;
}

.solution-intro {
  position: relative;
  overflow: hidden;
}

.solution-intro-bk {
  filter: blur(20px) contrast(80%) brightness(70%);
}
.solution-intro-content-hi {
  visibility: hidden;
  margin:3rem auto;
}
.solution-intro-overlay {
  width: 100%;
  position: absolute;
  top: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.solution-intro-overlay p,
.solution-intro-content-hi p,
.solution-features p {
  font-size: 16px;
  font-weight: 200;
}

.solution-intro-content {
  text-align: left;
}

.solution-intro-content  p,
.solution-intro-content  h2 {
  color: #fff;
}

.solution-intro-content > a {
  background-color: transparent;
  font-size: 18px;
}

.solution-intro-content >.btn-xl {
  border: 2px solid rgba(255,255,255,.8);
}

.solution-intro-content >.btn-xl:hover {
  background-color: rgba(255,255,255,.3);
}

.solution-intro-content > .btn-xl:active, 
.solution-intro-content > .btn-xl:focus{
  border: 2px solid rgba(255,255,255, 1);
  box-shadow: 0 0 0 .2rem rgba(255,255,255, .7);
}

.solution-media-container {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#solution-media-preview {
  padding: 2rem auto;
  max-width: 100%; 
  max-height: 100%; 
}
.solution-intro-overlay h1 {
  font-weight: bolder;
}

.solution-feature img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#start {
  background-color: #333;
}

#start h2 {
  color: #fff;
}

#start hr, #contact hr {
  border-color: #fff;
}

#start .btn-xl:hover {
  background-color: rgb(220, 224, 228);
}

#start .btn-xl {
  background-color: #fff;
  color: #00a1d6;
}

.team-img {
  max-width: 225px;
  width: 100%;
  height: auto;
}

.team-img img {
  border: 2px solid #fff;
}

.img-hide {
  visibility: hidden;
  transform: scale(0,0);
}
.scroll-reveal {
  animation: scale-reveal .4s ease-out;
}
#contact {
  background:  #00a1d6;
  background:  radial-gradient(ellipse farthest-corner at 57% 60% ,
   rgb(36, 122, 172) 20%,rgb(29, 116, 167) 30%, rgb(45, 92, 131) 50%, rgb(53, 77, 95) 95%);
}

#start .btn, #contact .btn  {
  background-color: #fff;
}
#contact h4 {
  color: #fff;
}

#contact p {
  color: rgba(255,255,255, .8);
}

#contact input {
  height: 40px;
  padding: 16px;
}

.side-nav {
  top: 50%;
  bottom: 50%;
  margin: 0 auto;
  position: fixed !important; 
  right: 20px;
  height: auto;
}

.sidebar {
  visibility: hidden;
  transform: translateY(-50%);
}

.no-bullet {
  list-style-type: none;
}

.nav-circle {
  visibility: visible;
  display: block;
  height: 1em;
  width:1em;
  background-color: #aaa;
  opacity: .5;
  border-radius: 50%;
  margin: 2rem;
  transition: .3s;
  z-index: 10;
}

.nav-circle:hover {
  opacity: .9;
}

.nav-unrevealed .nav-circle {
  visibility: hidden;
  opacity: 0;
  transition: .6s;
}

.nav-unrevealed .nav-circle:hover {
  visibility: hidden;
  background-color: #aaa;
  opacity: 0;
}

.nav-circle-active:hover {
  transition:  .3s;
  background-color: #00a1d6;
  /* height: 1.2em;
  width:1.2em; */
  opacity: 1;
}

.nav-circle-active {
  transition:  .3s;
  background-color: #00a1d6;
  opacity: .9;
}

.nav-circle-active-w {
  transition:  .3s;
  background-color: #fff;
  opacity:.8;
}

@keyframes scale-reveal {
  0% {
     opacity: 0;
     transform: scale(0,0);
 }

  100% {
      opacity: 1;
      transform: scale(1,1);
 }
}

@keyframes back-forth {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
 }
}

@media screen and (max-width: 1300px) {
  .hidden-xl-down .nav-circle {
    display: none !important;
  }
}
