<div class="row">
  <div  class="col-xs-3">  
      <select [ngModel]="limit" (change)="goPage(null, $event.target.value)" id="limit-select" class="form-control">  
          <option value="5">5</option>  
        <option value="10">10</option>  
        <option value="15">15</option>  
        <option value="20">20</option>  
        <option value="25">25</option>  
      </select> 
      <div id="limit-select-text"><span>Items per page</span></div> 
  </div>
  <div class="col-xs-9" *ngIf="count > 0" >
    <ul class="pagination">
      <li style="cursor:pointer;"><a (click)="currentPage > 1 && goPage(currentPage - 1)">&laquo;</a></li> 
      <li *ngFor="let page of getPages()" style="cursor:pointer;" [ngClass]="{active: page == currentPage}"><a (click)="page != currentPage && goPage(page)">{{ page }}</a><li>
      <li style="cursor:pointer;"><a (click)="currentPage < pageCount && goPage(currentPage + 1)">&raquo;</a></li> 
      <span id="pagination-text">{{ currentOffset + 1 }} - {{ currentOffset + limit > count ? count : currentOffset + limit }} of {{ count }}</span>
    </ul>
  </div> 
</div>
