
<footer class="page-footer blue center-on-small-only">
  <div style='padding:3rem;' class="container">
      <div class="row">
    <div align='center' style='padding-bottom:1rem' class="col-md-offset-3 col-md-6 ">
        <!-- <h5 class="title">Visit our socials</h5> -->
        <i  class="cursor-pointer fa fa-facebook-square" style="font-size:24px;padding:16px;"></i>
        <i  class="cursor-pointer fa fa-linkedin-square" style="font-size:24px;padding:16px;"></i>
        <i  class="cursor-pointer fa fa-twitter-square" style="font-size:24px;padding:16px;"></i>
        <i  class="cursor-pointer fa fa-youtube-square" style="font-size:24px;padding:16px;"></i>
    	
    </div>
          <!-- <div class="col-lg-6">
              <h5 class="title">Footer Content</h5>
              <p>Here you can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col-lg-6">
              <h5 class="title">Links</h5>
              <ul>
                  <li><a href="#!">Link 1</a></li>
                  <li><a href="#!">Link 2</a></li>
                  <li><a href="#!">Link 3</a></li>
                  <li><a href="#!">Link 4</a></li>
              </ul>
          </div> -->
      </div>
      <div align='center' class="row">
            <div lign='center'>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            © 2018 Copyright: <a (click)="goUrl('wwww.ubqsys.com')" style="cursor: pointer;"> UBQ Systems</a>. All rights Reserved.
      </div>
  </div>
  <!-- <div style='font-size: 16px;' class="footer-copyright">
      <div class="container">
          © 2018 Copyright: <a (click)="goUrl('wwww.ubqsys.com')" style="cursor: pointer;"> UBQ Systems</a>

      </div>
  </div> -->
</footer>
