th, td {
    padding: 20px;
}

th {
    cursor: pointer;
    color: #31708f;
}


.isSorted:hover {
    background-color: #00a1d6;
    color:#fff;
}


th:hover {
    background-color: #eee;
}

.isSorted {
    background-color: #00a1d6;
    color:#fff;
}

