<div class="row">
  <div class="col-xs-12">
      <table class="table table-hover">
          <thead class="thead-inverse">
              <tr>
                  <th (click)="sortByCloumn('create_time')">#</th>
                  <th [ngClass]="{'isSorted': sortBy === 'first_name'}" (click)="sortByCloumn('first_name')"><span class="glyphicon glyphicon-user"></span>  Name <span  class="glyphicon"
                    [ngClass]="{'glyphicon-triangle-bottom': sortBy === 'first_name' && orderBy === 'DESC',
                    'glyphicon-triangle-top': sortBy === 'first_name' && orderBy === 'ASC'}"></span></th>
                  <!-- <th [ngClass]="{'isSorted': sortBy === 'job_title'}" (click)="sortByCloumn('job_title')"><span class="glyphicon glyphicon-briefcase"></span>  Job Title <span  class="glyphicon"
                    [ngClass]="{'glyphicon-triangle-bottom': sortBy === 'job_title' && orderBy === 'DESC',
                    'glyphicon-triangle-top': sortBy === 'job_title' && orderBy === 'ASC'}"></span></th> -->
                  <th [ngClass]="{'isSorted': sortBy === 'company_name'}" (click)="sortByCloumn('company_name')"><span class="glyphicon glyphicon-home"></span>  Company <span  class="glyphicon"
                    [ngClass]="{'glyphicon-triangle-bottom': sortBy === 'company_name' && orderBy === 'DESC',
                    'glyphicon-triangle-top': sortBy === 'company_name' && orderBy === 'ASC'}"></span></th>
                  <th  [ngClass]="{'isSorted': sortBy === 'priority_status'}" (click)="sortByCloumn('priority_status')"><i class="fa fa-list-ol"></i>  Priority<span  class="glyphicon"
                    [ngClass]="{'glyphicon-triangle-bottom': sortBy === 'priority_status' && orderBy === 'DESC',
                    'glyphicon-triangle-top': sortBy === 'priority_status' && orderBy === 'ASC'}"></span></th>
                  <th [ngClass]="{'isSorted': sortBy === 'email'}" (click)="sortByCloumn('email')"><span class="glyphicon glyphicon-envelope"></span>  Email <span align="right" class="glyphicon"
                    [ngClass]="{'glyphicon-triangle-bottom': sortBy === 'email' && orderBy === 'DESC',
                    'glyphicon-triangle-top': sortBy === 'email' && orderBy === 'ASC'}"></span></th>
                  <th [ngClass]="{'isSorted': sortBy === 'phone'}" (click)="sortByCloumn('phone')"><i class="glyphicon glyphicon-earphone"></i>  Phone <span  class="glyphicon"
                    [ngClass]="{'glyphicon-triangle-bottom': sortBy === 'phone' && orderBy === 'DESC',
                    'glyphicon-triangle-top': sortBy === 'phone' && orderBy === 'ASC'}"></span></th>
                  <th class="table-head-cog"><span class="glyphicon glyphicon-cog"></span></th>
                </tr>
          </thead>
          <tr *ngIf='!participants' class="row">
            <th colspan="8">
                <app-loading></app-loading>
            </th>      
          </tr>
          <tbody *ngFor="let participant of participants; let i = index" id="table-content">
            <tr *ngIf="[i] != detailedIndex" [ngClass]="{'stripped': i % 2 !== 0}" >
              <td><a (click)='showDetail(i)'><span title='View detail' class="glyphicon glyphicon-info-sign"></span></a></td> 
              
              <td>{{participant.firstName}} {{participant.lastName}}</td>
              <!-- <td>{{participant.jobTitle}} </td> -->
              <td (click)="goCompany(participant.companyName)">{{participant.companyName}} </td> 
              <td>{{ getPriorityStatus(participant.priorityStatus) }}  </td> 
              <td>{{participant.email}} </td>
              <td>{{participant.phone}} </td>
              <th class='table-date-cog'>
                    <a [routerLink]="['../', participant.participantId,'edit']" style="cursor:pointer;"><span title='Edit' class="glyphicon glyphicon-pencil"></span></a>
                    <a (click)='onRemove(participant.participantId)' style="cursor:pointer;"><span title='Delete' class="glyphicon glyphicon-remove"></span></a>
              </th> 
          </tr>
          <tr appShowDetail (click)='showDetail(i)' *ngIf="[i] == detailedIndex" class="row">
              <td colspan="7" align='center'>
                  <span  class="glyphicon glyphicon-chevron-down"></span>
              </td>      
         </tr>
          <tr *ngIf="[i] == detailedIndex" class="row">
              <td colspan="7">
                  <app-participant-detail [participant]="participant"></app-participant-detail>
              </td>      
            </tr>
          </tbody>
        </table>
  </div>
</div>