<div class="row">
  <div class="col-sm-4 col-md-4 col-sm-offset-8 col-md-offset-8">
    <app-search-bar></app-search-bar>
  </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12 col-md-12 ">
      <app-paginate [lessDetailed] = "true"></app-paginate>
    </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 ">
    <app-participant-list></app-participant-list>
  </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
      <app-paginate></app-paginate>
    </div>
</div>
