.inline {
    display: inline;
}

.list-group-item-heading {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.list-group-item-heading.inactive:hover::after {
    align-content: center;
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    left: 0px;
    bottom: -7px;
    margin: none;
    background: #00a1d6;
    transition:  width .4s ease-out; 
}

.list-group-item-heading.inactive:hover::before {
    align-content: center;
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 35px;
    left: 0px;
    bottom: -7px;
    margin: none;
    background: #00a1d6;
    transition: height .2s ease-out; 
}

.list-group-item-heading.active::before {
    align-content: center;
    content: "";
    display: block;
    position: absolute;
    width: 2px; 
    height: 2px;
    bottom: -7px;
    left: 0px;
    margin: none; 
    background: #00a1d6;
    transition: height .2s ease-out; 
}

.list-group-item-heading.active::after {
    align-content: center;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -7px;
    margin: none;
    background: #00a1d6;
    transition:  width .4s ease-out;
}

 #participant-count {
     font-size: 18px;
 }

 .table-date-cog {
     margin: 0 5px;
 }

 .margin-bt {
     margin-bottom: 8px;
 }

 .indent {
     margin-left: 10px
 }
 
 .info-trivia {
     color: #777;
 }

 .fold {
    animation: fold .4s  ease-out both;
 }

 .unfold {
     animation: unfold .5s ease-out both;
 }
 
 .data-config {
     transition: transform .5s  ease-out; 
 }

 .rotate {
    transform: rotate(270deg)
 }

 .info {
     overflow: hidden;
     padding-top: 15px;
 }
 
 @keyframes unfold {
     0% {
        opacity: 0;
        display: none;
        transform:translateX(40px);
     }
     50% {
        opacity: 0;
        display: inline;
     }
     100% {
        opcaity: 100;
        transform:translateX(0px);
     }
 }

 @keyframes fold    {
       100% {
    opacity: 0;
    display: inline;
    transform:translateX(40px);
 }
 50% {
    opacity: 0;
    display: none;
 }
  0% {
    opcaity: 100;
    transform:translateX(0px);
 }
}