
<nav [ngClass]="{'container-expanded':logoExpanded, 'container-transparent':headerTransparent}"  class="header navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  routerLink="">
        <!-- <span class="brand-logo">UBQ</span> Systems -->
        <!-- <img  [ngClass]="{'logo-expanded':logoExpanded}" alt="logo" 
               src="../assets/logo-horizantal-01-b-011.svg"
               class="img-responsive brand-logo"  [ngClass]="{'expanded':logoExpanded}" 
        > -->
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul  [ngClass]="{'navbar-expanded':logoExpanded}" class="nav navbar-nav navbar-right">
          <!-- <li  routerLinkActive="active"><a routerLink="/home">Home</a></li> -->
          <li *ngIf="isAuth()" routerLinkActive="active"><a routerLink="/dashboard"><span class="
            glyphicon glyphicon-list-alt"></span> Dashboard</a></li>
          <li  *ngIf="isAuth()" routerLinkActive="active"><a routerLink="/map"><span class="
            glyphicon glyphicon-map-marker"></span> Tracker Map</a></li>
          <li  *ngIf="isAuth()" routerLinkActive="active"><a routerLink="/visitor"><span class="
            glyphicon glyphicon-user"></span> Visitors</a></li>


            <li *ngIf="!isAuth()" class="cursor-pointer" (click)='onNavClick(1)' [ngClass]="{'active': currentPos === 1}"><a routerLink="/home">Service</a></li>
            <li *ngIf="!isAuth()" class="cursor-pointer" (click)='onNavClick(2)' [ngClass]="{'active': currentPos === 2}"><a routerLink="/home">Solutions</a></li>
            <li *ngIf="!isAuth()" class="cursor-pointer" (click)='onNavClick(3)' [ngClass]="{'active': currentPos === 3}"><a routerLink="/home">Start</a></li>
            <li *ngIf="!isAuth()" class="cursor-pointer" (click)='onNavClick(4)' [ngClass]="{'active': currentPos === 4}"><a routerLink="/home">Team</a></li>
            <li *ngIf="!isAuth()" class="cursor-pointer" (click)='onNavClick(5)' [ngClass]="{'active': currentPos === 5}"><a routerLink="/home">Contact</a></li>
          <!-- <li class="dropdown">
            <a  class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li> -->
          <li *ngIf="!isAuth()" routerLinkActive="active"><a routerLink="/auth"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li  *ngIf="isAuth()" routerLinkActive="active"><a routerLink="/setting"><span class="
            glyphicon glyphicon-cog"></span> Config</a></li>
          <li *ngIf="isAuth()" style='display:block; width:50px;'>
                  <img alt="user Img" 
                  src="../assets/user.svg"
                  class="img-circle img-responsive avatar">
                 
          </li>
          <li *ngIf="isAuth()" style="cursor: pointer;" (click)='logOut()'><a><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>

          <!-- <li routerLinkActive="active"><a routerLink="/about">Manual</a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>





