.tracker-item {
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 26px;
    padding: 1.22rem;
    width: 100%;
    border-radius: 0;
    border-top:0;
    border-bottom: 1px solid rgb(221, 221, 221);
}


a.tracker-item:hover {
    color: rgba(0, 161, 214, 0.7);
}

 a.tracker-item.isSelected {
     color: white;
     background-color: #00a1d6;
 }

 
.tracker-info .tracker-actions span {
    display:-moz-inline-box;
    display:inline-block;
    margin-right: 10px;
}

span.glyphicon {
    color: #555;
    float: right;
}

a.tracker-item.isSelected span.glyphicon:hover {
    color: rgba(255, 255, 255, 1);
}
a.tracker-item.isSelected span.glyphicon {
    color: rgba(255, 255, 255, 0.7);
}

span.glyphicon:hover {
    color: rgba(0, 161, 214, 1);
}

.tracker-indicator	{
    margin-right:5px;
    content:'';
    width: 26px;
    height: 26px;
    color: red;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    font-size: 26px;
}


