:host {
    transition: height .7s ease-in;
}

.tracker-item {
    display: flex;
    align-items: center;
    height: 34px;
    line-height: 26px;
    padding: 1.22rem;
    width: 100%;
    border-radius: 0;
    border-top:0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.ishide {
    color:rgba(85,85,85,.5);
}
/* a.tracker-item:hover {
    color: rgba(0, 161, 214, 0.7);
} */

 a.tracker-item.isSelected {
     color: white;
     background-color: #00a1d6;
 }



.tracker-info,.tracker-actions,span {
    display:inline;
    overflow: hidden;
    /* white-space: pre-inline;  */
    text-overflow: clip;
    margin-right: 10px;
}

.tracker-alias {
    display:inline-block;
    line-height: 10px;
    width: 100px;
    white-space: pre;
}


.tracker-color {
    border-radius: 5px;
    border:2px solid #bce8f1;
    background-color: #00a1d6;
    width: 5px;
    white-space: pre;
}


span.glyphicon {
    color: #555;
    float: right;
}

a.tracker-item.isSelected span.glyphicon:hover {
    color: rgba(255, 255, 255, 1);
}
a.tracker-item.isSelected span.glyphicon {
    color: rgba(255, 255, 255, 0.7);
}

span.glyphicon:hover {
    color: rgba(0, 161, 214, 1);
}

.color-options:autofocus  {
    color: red;
}




