.glyphicon {
    float: right;
}

.cursor-pointer {
    cursor: pointer;
}

#panel-btn-refresh span{
    opacity: .7;
    transition: .3s;
    transform: rotate(0);
}

#panel-btn-refresh:hover span  {
    opacity: 1;
    transition: .3s;
    transform: rotate(180deg);
}

#panel-btn-refresh:active span {
    opacity: .5;
    transition: .3s;
}

#trackers-list {
    overflow-y: scroll;
    height: 463px;    
}

#trackers-list::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}


#trackers-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(92, 92, 92, 0.1);
    box-shadow: inset 0 0 6px rgba(92, 92, 92, 0.1);
    border-radius: 10px;
    width: 12px;
	background-color: #F5F5F5;
}

#trackers-list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color:aliceblue;
}

#trackers-list::-webkit-scrollbar-thumb:hover
{
    border-radius: 10px;
    background-color: #bce8f1;
}

#trackers-list::-webkit-scrollbar-thumb:click
{
    border-radius: 10px;
    background-color: #bce8f1;
}

