<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <button class="btn btn-success" (click)='onStart()'>{{ started ? 'Pause' : 'Start'}}</button>
      <button class="btn btn-danger" [disabled]="!initiated" (click)='onStop()'>Stop</button>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-3">
          <app-map-control></app-map-control>
      </div>
      <div class="col-md-9"> 
    <div class="col-xs-12"></div>
      <div class="d3-chart" #chart></div> 
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
